$dark: #666;
$red-dark: #5f312f;
$red-very-dark: #5f0806;
$red-light: #cb7366;

/* ---- Chart -------- */
.bar {
  fill: $red-light
}

.shadowBar {
  fill: $red-dark
}

.description {
  text-align: center;
}

.voteButtons {
  text-align: center;
}

/* ---- All Pages ---- */

body{
  margin: 0;
}

.top-bar {
  background-color: $red-light;
  font-size: 2.0em;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: solid 1px #333333;
  width: 100%;
}

.top-bar-table {
  margin-left: auto;
  margin-right: auto;
}

a, a:visited, a:active, a:focus{
  color: $red-dark;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.nav-button {
  border-left: 1px $red-dark solid;
  border-right: 1px $red-dark solid;
}

.nav-link {
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vw;
}

.nav-button:hover {
  background-color: $red-dark;
  a, a:visited, a:active, a:focus, a:hover{
    color: $red-light
  }
}

.nav-link:focus {
  outline: none;
}


h1 {
  color: $red-dark;
  text-align: center;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 4.0em;
}

.spacer {
  padding-left: 20px;
  padding-right: 20px;
}

.nav-icon {
  padding-left: 20px;
}

.standard-page {
  color: $dark;
}

/* ---- Login ---- */
.sign-in-btn {
  font-size: 8vmin;
  padding-left: 4vmin;
  padding-right: 4vmin;
  border-radius: 2vmin;
  border: white 0.5vmin solid;
  color: white;
}

.sign-in-btn:hover {
  color: white;
  border: black 0.5vmin solid;
}

.google-btn {
  background-color: #4285F4;
}

.facebook-btn {
  background-color: #4267B2;
}

.twitter-btn {
  background-color: #1DA1F2;
}

.btn-div {
  margin: 1vmin;
}

.login-name {
  padding-left: 2vmin;
}

.btn-container {
  text-align: center;
}
